@use "../common/variables" as *;
@use 'bootstrap/scss/bootstrap' as bs;

.datatable {

  table {
    margin-bottom: 0;

    @include bs.media-breakpoint-down(lg) {
      display: block;
    }

    thead {

      th {
        font-weight: 600;
        padding: 24px 12px 29px;
        vertical-align: middle;

        &:first-child {
          border-top-left-radius: 3px;
        }

        &:last-child {
          border-top-right-radius: 3px;
        }
      }
    }

    tbody {

      @include bs.media-breakpoint-down(lg) {
        display: block;
      }

      tr {

        @include bs.media-breakpoint-down(lg) {
          display: block;
        }

        &:last-child {

          td {

            &:first-child {
              border-bottom-left-radius: 3px;
            }

            &:last-child {
              border-bottom-right-radius: 3px;
            }
          }
        }

        td {
          padding: 30px 12px 24px;
          color: rgba($black, 0.65);

          @include bs.media-breakpoint-down(lg) {
            padding: 8px 15px;
          }
        }
      }
    }

    td, th {
      border-bottom: 1px solid $border;

      &.datatable-checkbox {
        width: 1px;
        line-height: 0;
      }

      &:first-child {
        padding-left: 24px;
      }

      &:last-child {
        padding-right: 24px;
      }

      @include bs.media-breakpoint-down(lg) {
        display: block;
        border-bottom: none;

        &:not(.datatable-preserve-mobile) {
          display: none;
        }
      }
    }
  }
}